<?xml version="1.0" encoding="utf-8"?>
<config>
    <firewalls>
        <name>EindwerkAsa</name>
        <ip4>193.191.187.41</ip4>

        <ip6></ip6>
        <interfaces>
            <intname>inside</intname>
            <intip4>192.168.1.1</intip4>
            <subnetmaskip4>24</subnetmaskip4>
            <subnetsip4>
                <subnet>
                    <ip>192.168.1.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
            </subnetsip4>
            <intsip6></intsip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
        <interfaces>
            <intname>outside</intname>
            <intip4>193.191.187.41</intip4>
            <subnetmaskip4>24</subnetmaskip4>
            <subnetsip4>
                <subnet>
                    <ip>193.191.187.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                    <ip6></ip6>
                    <subnetmaskip6></subnetmaskip6>
                </subnet>
            </subnetsip4>
            <intip6></intip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
        <interfaces>
            <intname>humanresources</intname>
            <intip4>1O.10.10.1</intip4>
            <subnetsip4>
                <subnet>
                    <ip>10.10.10.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
                <subnet>
                    <ip>192.168.11.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
                <subnet>
                    <ip>192.168.12.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
            </subnetsip4>
            <subnetmaskip4>24</subnetmaskip4>
            <intip6></intip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
    </firewalls>
    <firewalls>
        <name>AndereTest</name>
        <ip4>193.191.187.41</ip4>

        <ip6></ip6>
        <interfaces>
            <intname>inside andere vlan1</intname>
            <intip4>192.168.3.1</intip4>
            <subnetmaskip4>24</subnetmaskip4>
            <subnetsip4>
                <subnet>
                    <ip>192.168.3.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
            </subnetsip4>
            <intip6></intip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
        <interfaces>
            <intname>outside andere</intname>
            <intip4>193.191.187.41</intip4>
            <subnetmaskip4>24</subnetmaskip4>
            <subnetsip4>
                <subnet>
                    <ip>193.191.187.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
            </subnetsip4>
            <intip6></intip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
        <interfaces>
            <intname>inside human resources vlan10</intname>
            <intip4>192.168.20.1</intip4>
            <subnetmaskip4>24</subnetmaskip4>
            <subnetsip4>
                <subnet>
                    <ip>192.168.20.0</ip>
                    <subnetmaskip4>24</subnetmaskip4>
                </subnet>
            </subnetsip4>
            <intip6></intip6>
            <subnetmaskip6></subnetmaskip6>
            <extra></extra>
        </interfaces>
    </firewalls>
</config>
